@using System.Security.Claims
@model IEnumerable<ZooShop.Infrastructure.Data.Models.Product>

@{
    ViewBag.Title = "Всики продукти";
}

<h1 class="text-center">@ViewBag.Title</h1>
<hr />

<div class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(p => p.Name)
        </th>
    </tr>

    @foreach (var product in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => product.Name)
            </td>
            <td>
                <img src="@product.ImageUrl" alt="Product Image" style="max-width: 250px; max-height: 250px;" />
            </td>
            <td>
                Цена: @Html.DisplayFor(modelItem => product.Price) лева <br />
                Наличност: @Html.DisplayFor(modelItem => product.StockQuantity) бр.
            </td>

        </tr>
    }

</div>









@* @model List<ZooShop.Infrastructure.Data.Models.Product>  

@{
    ViewData["Title"] = "Продукти за " + ViewBag.CategoryName + " - " + ViewBag.AccessoryName;
}

<h2>Продукти за: @ViewBag.CategoryName - @ViewBag.AccessoryName</h2>

@if (Model != null && Model.Any())
{
    <div class="product-list">
        @foreach (var product in Model)
        {
            <div class="product-item">
                <h4>@product.Name</h4>
                <p>Цена: @product.Price лв.</p>
                <img src="@product.ImageUrl" alt="@product.Name" style="width: 150px; height: auto;" />
                <p><a href="@Url.Action("Details", "Product", new { id = product.Id })" class="btn btn-info">Подробности</a></p>
            </div>
        }
    </div>
}
else
{
    <p>Няма продукти за тaзи категория.</p>
}
 *@