@model List<ZooShop.Infrastructure.Data.Models.Product>  

@{
    ViewData["Title"] = "Продукти за " + ViewBag.CategoryName + " - " + ViewBag.AccessoryName;
}

<h2>Продукти за: @ViewBag.CategoryName - @ViewBag.AccessoryName</h2>

@if (Model != null && Model.Any())
{
    <div class="product-list">
        @foreach (var product in Model)
        {
            <div class="product-item">
                <h4>@product.Name</h4>
                <p>Цена: @product.Price лв.</p>
                <img src="@product.ImageUrl" alt="@product.Name" style="width: 150px; height: auto;" />
                <p><a href="@Url.Action("Details", "Product", new { id = product.Id })" class="btn btn-info">Подробности</a></p>
            </div>
        }
    </div>
}
else
{
    <p>Няма продукти за този аксесоар и категория.</p>
}
